.header {
    padding: 3.6% 5%;
    // padding: 36px 50px;
}
.banner {
    position: relative;
    padding: 360px 0;
    margin: 0 5% 270px;
    background: url("../../img/image/home/banner.jfif") center center / cover;


    @include respon('desktop') {
        padding: 240px 0;
    }
    // < 1024 => padidng:250px 0;
}

.article {
    & + & {
        margin-top: 120px;
    }
    padding: 60px 6%;
    position: relative;
    background: $color-primary-article;
}

.slogan {
    padding: 120px 0;
}

.commodity {
    padding: 0 5%;
}