.checkout {
    overflow: hidden;
    padding: 0 12%;
    &-trans {
        padding: 21px 36px 0 36px;
        float: left;
        width: 100%;
        max-width: 45%;
        background: $color-primary-greenDark;

        position: relative;
        &__title {
            color: $color-white;
            margin-bottom: 21px;
        }

        &__form {
            font-size: 0;
            &__wrap {
                margin-bottom: 30px;
                &--2-1 {
                    display: inline-block;
                    width: 45%;

                    &:nth-child(1) {
                        margin-right: 10%;
                    }

                    @include respon('mobile') {
                        width: 48%;

                        &:nth-child(1) {
                            margin-right: 4%;
                        }
                    }

                }
            }

            &__label {
                display: block;
                color: $color-white;
                font-size: 24px;
                margin-bottom: 15px;
            }
            &__input {
                border: none;
                display: inline-block;
                width: calc(100% - 15px);
                font-size: 15px;
                line-height: 4.2;
                padding-left: 15px;;
                
                @include respon('mobile') {
                    line-height: 3;
                }

                &--tel {
                    display: block;
                }
            }

            &__select {

                &Group {
                    display: inline-block;
                    width: 45%;
                    position: relative;
                    &:nth-child(2) {
                        margin-right: 10%;;
                    }

                    &::after,&::before {
                        content: '';
                        position: absolute;

                        bottom: 0;
                        right: 15px;
                        width: 0;
                        height: 0;
                        margin: auto;
                    }
                    &::after {
                        top: 15px;
                        border-top: 6px solid $color-primary-greenDark;
                        border-bottom: 6px solid transparent;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                    }
                    &::before {
                        top: -15px;
                        border-top: 6px solid transparent;
                        border-bottom: 6px solid $color-primary-greenDark;
                        border-left: 6px solid transparent;
                        border-right: 6px solid transparent;
                        z-index: 1;
                    }
                    @include respon('mobile') {
                        width: 48%;
    
                        &:nth-child(2) {
                            margin-right: 4%;
                        }
                    }
                }

                appearance: none;
                -webkit-appearance: none;
                width: 100%;
                border: none;
                padding: 18px 0 18px 15px;
                position: relative; 
            }


            &__submit {
                display: block;
                border: none;
                font-size: 24px;
                background: $color-primary-yellow;
                width: calc(100% + 72px);
                color: $color-primary-greenDark;
                padding: 15px 0;
                margin-left: -36px;
                margin-top: 30px;


                text-align: center;

                @include respon('mobile') {
                    width: calc(100% + 54px);
                    margin-left: -27px;;
                }
            }
        }


        &__circles {
            position: absolute;
            width: 12px;
            height: 12px;
            padding: 3px;
            border-radius: 50%;
            border: 2.1px solid $color-white;
            background: $color-white;
            -webkit-background-clip: content-box;
            background-clip: content-box;
            top: 33px;
            right: 30%;

            @include respon('desktop') {
                right: 39%;
            }
            &::after,&::before {
                content: '';
                position: absolute;
                width: 12px;
                height: 12px;
                padding: 3px;
                border-radius: 50%;
                border: 2.1px solid $color-white;
                background: $color-primary-greenDark;
                -webkit-background-clip: content-box;
                background-clip: content-box;
                top: 0;
                bottom: 0;
                margin: auto;
            }
            &::after {
                left: 60px;
            }
            &::before {
                left: 120px;
            }

            &__line {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 20px;
                margin: auto;
                height: 0;
                width: 0;
                padding: 1px 21px;
                background: $color-white;

                &::after {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 61px;
                    margin: auto;
                    height: 0;
                    width: 0;
                    padding: 1px 20px;
                    background: $color-white;
                }
            }
        }

        @include respon('mobile') {
            float: none;
            width: auto;
            max-width: initial;
            padding: 21px 27px 0 27px;
        }
    }
    
    &-info {
        max-width: 40%;
        margin:0 0 0 auto;
        overflow: hidden;

        @include respon('mobile') {
            display: none;
        }
    }



    &__pay {
        margin-bottom: 30px;
        box-shadow: 0 0 0 3px $color-primary-article;
        align-self: flex-start;
        &__title {
            text-align: center;
            color: $color-primary-greenLight;
            background: $color-primary-article;
            margin-bottom: 15px;
            padding: 15px 18px;
        }

        &__wrap {
            overflow: hidden;
            padding: 0 18px;
            color: $color-primary-greenLight;
            font-size: 18px;
            span:nth-child(2) {
                float: right; 
            }
        }

        &__totalMoney {
            font-size: 27px;
            padding: 15px 18px;
            span:nth-child(2) {
                float: right; 
            } 
        }
    }

    &__buyingList {
        &__title {
            text-align: center;
            color: $color-primary-greenLight;
            background: $color-primary-article;
            margin-bottom: 15px;
            padding: 15px 18px;

        }
        &__list {
            overflow: hidden;
        }
        &__item {
            padding: 21px 0;
            display: flex;
            align-items: center;
            &__imgbox {
                // float: left;
                // width: 120px;
                max-width: 45%;
                height: 150px;
                @include respon('desktop') {
                    height: 80px;
                }
            }
            &__img {
                @extend %img;
            }
            &__txt {
                padding-left: 15px;
            }
            &__name {
                font-size: 16px;
                color: $color-primary-greenLight;
                display: block;
            }
            &__money {
                font-size: 24px;
                font-weight: 700;
                color: $color-primary-greenDark;
                display: block;
            }
        }
    }
}