.slogan {
    &__title {
        writing-mode: vertical-rl;
        margin: auto;
        letter-spacing: 12px;
    }
    &__line {
        display: block;
        position: relative;
        &:nth-child(1) {
            top: -18px;
        }
        &:nth-child(2) {
            span {
                position: absolute;
                right: -10px;
            }
        }
    }
}